<form class="example-form" (ngSubmit)="onSubmitEditAuthors()">
        <h1>Edit Author Name</h1>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]= "authorsEdit" name= "authorsEdit">
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary">Edit Author Name</button>
        </div>
    
</form>

<!-- <mat-card>
    <form #authForm="ngForm"(ngSubmit)="onSubmitEditAuthors()">
            <h4>Author Name</h4>
             <input matInput placeholder="Author name" [(ngModel)]="authorName"
                          name="authorName"
                          required
                          #auth = "ngModel" ngDefaultControl>
            <mat-error *ngIf="!(auth.valid || auth.pristine)">
                Author Name is required
            </mat-error>
            <div>
                <button [disabled]="!authForm.form.valid">Change Author Name</button>
            </div>
        </form>
  </mat-card> -->