<h1>Posts Page </h1>
  <mat-accordion (click)="saveFunc()"> 
    <div>
      <button mat-raised-button color="primary">Save to firestore</button>
    </div>
    <br>
      <mat-expansion-panel *ngFor = "let posts of posts$">
        <mat-expansion-panel-header>
          <mat-panel-title>  
         Post id : {{posts.id}}
         Post title :{{posts.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        {{posts.body}}
      </mat-expansion-panel>
    </mat-accordion>
  